[submodule "src/mod/external/mod_funasr"]
	path = src/mod/external/mod_funasr
	url = git@github.com:minvision/mod_funasr.git
[submodule "src/mod/external/mod_mvstts"]
	path = src/mod/external/mod_mvstts
	url = git@github.com:minvision/mod_mvstts.git
	branch = main
